<div class="main">
  <div class="top-wrapper">
    <div class="container">
      <%= image_tag '1.jpg' %>
      <h1>一年記年クイズ</h1>
      <%= link_to "クイズスタート！", {controller: :posts, action: :quiz1}, class: :start %>
    </div>
    <h3>ルール</h3>
    <p>不正解一回につき焼き肉一回おごり</p>
    <p>正解したらもらえる四つの数字を覚えておくこと</p>
  </div>
</div>