<div class="conguraturate">
  <h1>全問せいかい！！！</h1>
</div>
<div class="number">
  <h2>last number</h2>
  <img src="https://www.soulful-vip.com/wp-content/uploads/2018/09/8.png" alt="1" height="400px">
  <h1>ぜひこがくんからのプレゼントを受け取ってください</h1>
  </div>